[submodule "assets/embodiments/bimanual_kuka"]
	path = assets/embodiments/bimanual_kuka
	url = git@github.com:Taokt/bimanual_kuka.git
[submodule "policy/openpi"]
	branch = kuka_robotwin
	path = policy/openpi
	url = git@github.com:HashimHS/openpi.git